.tabs {

	&__item {
		position: relative;
		line-height: 40px;

		&_state {
			&_active {
				color: var(--color-typo-primary);
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 30px;
					height: 2px;
					background-color: var(--color-bg-brand);
					transform: translateX(-50%);
				}
			}
		}
	}
}
